.clamp-text {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:768px) {
    .clamp-text{
        font-size: 14px !important;
    }
    }
         