.skill-img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: brightness(0%);
    transition: all 0.3s ease;
}

.skill-box .skill-img {
    transition: filter 0.3s ease, transform 0.3s ease;
  }
  
  .skill-box:hover .skill-img {
    filter: grayscale(0%); 
    transform: scale(1.1);
  }
